:root {
    --columns: 16;
    --rows: 16;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

#container {
    display: grid;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 10px;
    grid-template-columns: repeat(var(--columns), auto);
    grid-template-rows: repeat(var(--rows), auto);
}

.grid-dark {
    background-color: rgb(29, 28, 28);
}