:root {
    --columns: 16;
    --rows: 16;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 36px;
    background-color: rgb(255, 186, 163);
}

#container {
    display: grid;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    grid-template-columns: repeat(var(--columns), auto);
    grid-template-rows: repeat(var(--rows), auto);
}

.grid,
.grid-dark {
    border: 1px dotted black;
    padding: 16px;
}

.grid {
    background-color: white;
}

.grid-dark {
    background-color: rgb(29, 28, 28);
}

button {
    width: 220;
    height: 100;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    background-color: blue;
    border: 1px solid black;
    margin-top: 32px;
}

button:hover {
    background-color: rgb(15, 15, 90);
    color: rgb(211, 202, 202);
    box-shadow: 0 3px rgb(106, 106, 106);
}